html {
    font-family: 'Poppins', sans-serif;
    color:olive; 
    }

body {
    width:100%; 
  background-color: bisque;}

img {
    width: 800px;
    height: 650px;
    object-fit: cover;
    margin-right: 32px;
    margin-left: 32px;
/* }
@media (max-width: 800px) {
    img {height:50%;}
}
@media (max-width:500px) {
    img {
        height:30%;} */
}



li {
    font-size:25px;
}
    @media (max-width: 800px) {
        li {font-size: 30px;}
        /* "if less than 800 px..." */
    }
    @media (max-width: 500px) {
        li {font-size: 35px;
         /* "if less than 500 px..." */
    }

}

h1{
    /* shrimp title header  */
    font-size: 150px;
    color: white;
 
    line-height: 180px;
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin: 0px; 
    background-image: url("../images/headerimg.jpeg");
    background-size: cover;
    
}

section {
    margin: auto; 
    width:1200px;
}

/* menu header thing, the lil rectangle:  */

.menu {

height: 100px;
background-color: olive;
}
.menu ul {
width: 100%; 
font-size: 18px;
color:yellow; 
padding: 0px;
display: flex;
flex-wrap: wrap;

}
.menu li {
    list-style-type: none;
    padding: 20px;
}




.intro p {
    text-align: center;
    width: 280px;
    
}

/* big shrimpo:  */
.shrimp {
    float: right;
    margin: 0rem 2rem 0rem 2rem;
}

.header {
   
    height:1110px;
}
@media (max-width: 800px) {
    section {margin-bottom: 100px;}
    /* "if less than 800 px..." */
}
@media (max-width: 500px) {
    section {margin-bottom:150px;}
     /* "if less than 500 px..." */
}



.header ul {
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
.ingredients {  
    height: 850px;
    
}


h2 {
    text-align: center;
    font-size: 50px;
}
/* makes font bigger as screen gets smaller  */
    @media (max-width: 800px) {
        h2 {font-size: 60px;}
        /* "if less than 800 px..." */
    }
    @media (max-width: 500px) {
        h2 {font-size: 70px;
         /* "if less than 500 px..." */
    }
    
    }

.caption {
    font-size: 20px;
    color: rgb(131, 167, 95, .5);
    line-height: 18px;
}
    /* @media (max-width: 640px) {
        h2 {font-size: 1.5rem;

        } */

.ingredients ul {
    font-weight: normal;
    font-size: 20px;
    padding: 0px;
   
}
   


.ingredientpic {
    width: 500px;
    height: 650px;
    object-fit: cover;
    float: left;
    margin-right: 80px;
    
}

.steps {
    width:1200px;   
    height: 2500px;
}

.steps h2 {
    text-align: center;
}

.steps img {
    width:500px;
    height:500px;
    
}


    

.steplist {
list-style-type:none;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px;
}


    
h4 {
    color: white;
    padding: 20px 50px 20px 0px;
    margin: 0px;
    width: 100%; 

}

footer {
    margin:0px; 
    text-indent: 10px;
    height: 100px;
    width: 1200px;

    background-color: olive;
    
}

/* why wont this work in imgs NO figure out how to change grid columns to single! 
 @media (max-width: 800px) {
    li img {width: 75%;
        height:75%;
        object-fit: cover;}
    /* "if less than 800 px..." */
/* } */
/* @media (max-width: 500px) {
    li img {width: 25%;
        height: 25%;
        object-fit: cover;} */

     /* "if less than 500 px..." */
/* } */ 
