h2 {
    color: rgb(158, 216, 192); 
    font-family:monospace;
    font-size: 35px; 
    font-weight: bolder;
    text-align:center;
}

p{
    color:mistyrose; 
    font-family: monospace;
    font-size: 18px;
    text-align:center; 
    line-height: 1;
  
}

body {background-color:rgb(207, 124, 135);

}