header {
    margin-bottom: 3rem;

}

p{
    line-height: 1.6;
}

.see-all {
    font-size: .8rem; 
    text-transform: uppercase;
}

h1{
    font-size: 2.5rem;
    font-weight: lighter; 
}

/* .seasons, .synopsis, .cast {
    font-size: 1rem;
    text-transform: uppercase; */

    /* this affets everything inside too... */

h2{
    font-size: 1rem;
    text-transform: uppercase;
 }

 img{
    width: 100%;
    } 

div{
    width: 25%
}

.shows h1 {
    border-style: solid;
    border-bottom:black;
    border-width: 1px
    /* make border above titles */}

.selected {
    color: black;
    font-weight: bold;
    
}
.cast li>a{
    font-size: .8em;
}

.cast li>a div:nth-child(2){
    font-weight: bold; 
}
.cast li>a div:nth-child(3){
    font-style: italic; 
}

.seasons li:nth-child(9)::after {
    content: "*";
}

.seasons ul::after {
    font-size: .7rem;
    content: "Final Season";
    display:block;
    /* content: "\a";
    white-space: pre; */
    color: rgb(#999)
    
}

/* 
.seasons li:nth-child(9) ::after{
    content: "*"; */

/* (in the cast class, for the a that follows list?) then for every a, select the nth div  */


